<p id="notice"><%= notice %></p>
<a href='https://dev.mttag.com/s/HYQGoM9iAqY?' target = '_blank'>
      <img src = 'https://dev.mttag.com/banner/QedXCSCENC4' alt = 'バイアグラ50mgの個人輸入' width = '300' height = '300' border = '0' /></a>

<h1>Listing Employees</h1>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Birth</th>
		<th>From</th>
		<th>Salary</th>
	</tr>
	<% @employees.each do |employee| %>
		<tr>
			<td><%= employee.first_name %></td>
			<td><%= employee.last_name %></td>
			<td><%= employee.day_of_birth %></td>
			<td><%= employee.place_of_birth %></td>
			<td><%= employee.salary %></td>
		</tr>
	<% end %>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
